body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(Images/bg.gif);
}

dd{
    color:#808080;
}


img {
    max-width: 100%;
}

.clear {
    clear: both;
}

#container {
    background-color: white;
}

.thumbnail, dl {
    margin-bottom: 0;
}


