@using Easy.CMS.Section.Models
@model SectionContentTitle

@if (Model.Href.IsNullOrEmpty())
{
    <h5>
        @Model.InnerText
    </h5>
}
else
{
    <a href="@Url.Content(Model.Href)">
        <h5>
            @Model.InnerText
        </h5>
    </a>
}