@using Easy.CMS.Section.Models
@model SectionContentParagraph

<li class="list-group-item clearfix" data-id="@Model.ID">
    <div class="icon-left">
        <div class="pull-left icon">
            <a href="@Url.Action("Delete", "SectionContentParagraph", new {Id = Model.ID})" class="ajax">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
            <a href="@Url.Action("Edit", "SectionContentParagraph", new { Id = Model.ID })" class="dialog" data-width="800" data-height="460">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>
        <div class="pull-left edit-pragraph">
            @Html.Raw(Model.HtmlContent)
        </div>
    </div>
</li>