@using Easy.CMS.Section.Models
@using Easy.Web.CMS
@model SectionContentTitle

@if (Model.Href.IsNullOrEmpty())
{
    <h5>
        @Model.InnerText
    </h5>
}
else
{
    <h5>
        @Html.SmartLink(Url.Content(Model.Href), Model.InnerText)
    </h5>
}