/Easy.CMS.Web/Modules/Layout/obj
/Easy.CMS.Web/Modules/Layout/bin
/Easy.CMS.Web/Modules/News/obj
/Easy.CMS.Web/Modules/News/bin
/Easy.CMS.Web/Modules/Page/obj
/Easy.CMS.Web/Modules/Page/bin
/Easy.CMS.Web/Modules/Product/obj
/Easy.CMS.Web/Modules/Product/bin
/Easy.CMS.Web/Modules/Widget/obj
/Easy.CMS.Web/Modules/Widget/bin
/Easy.CMS.Web/Modules/Common/obj
/Easy.CMS.Web/Modules/Common/bin
/Easy.CMS.Web/Modules/Article/obj
/Easy.CMS.Web/Modules/Article/bin
/Easy.CMS.Web/Logs
