@model Easy.CMS.Article.Models.ArticleSummaryWidget
@{
    if (!Model.DetailLink.IsNullOrEmpty())
    {
        Model.DetailLink = Url.Content(Model.DetailLink);
    }
}
<div class="article summary bs-callout bs-callout-danger">
    @if (!Model.Title.IsNullOrEmpty())
    {
        <div class="pull-left">
            <h4>
                @Model.Title
            </h4>
        </div>
        <div class="pull-right">
            @if (!Model.DetailLink.IsNullOrEmpty())
            {
                <a target="_blank" href="@Model.DetailLink">
                    More »
                </a>
            }
            
        </div>
        <div class="clearfix"></div>
    }
    <div class="text-muted">
        @Html.Raw(Model.Summary)
    </div>
</div>
