@model Easy.CMS.Article.ViewModel.ArticleDetailViewModel
@{
    Style.Reqiured("Article").AtHead();
    if (Model.Current == null)
    {
        return;
    }
}
<div class="articleDetail">
    <h3 class="title">@Model.Current.Title</h3>
    <div class="publishDate">
        @((Model.Current.PublishDate ?? DateTime.Now).ToString("yyyy/MM/dd"))
    </div>
    <div class="detail">
        @Html.Raw(Model.Current.ArticleContent)
    </div>
</div>