<?xml version="1.0" encoding="utf-8" ?>
<RefererList>
  <Referer>
    <Name><![CDATA[谷歌]]></Name>
    <Host><![CDATA[www.google.com]]></Host>
    <KeyWordsQuery><![CDATA[q]]></KeyWordsQuery>
  </Referer>
  <Referer>
    <Name><![CDATA[百度]]></Name>
    <Host><![CDATA[www.baidu.com]]></Host>
    <KeyWordsQuery><![CDATA[wd]]></KeyWordsQuery>
  </Referer>
  <Referer>
    <Name><![CDATA[必应]]></Name>
    <Host><![CDATA[cn.bing.com]]></Host>
    <KeyWordsQuery><![CDATA[q]]></KeyWordsQuery>
  </Referer>
  <Referer>
    <Name><![CDATA[360搜索]]></Name>
    <Host><![CDATA[www.so.com]]></Host>
    <KeyWordsQuery><![CDATA[q]]></KeyWordsQuery>
  </Referer>
</RefererList>