<?xml version="1.0" encoding="utf-8" ?>
<SearchEngineList>
  <SearchEngine name="Googlebot">
    <Name><![CDATA[谷歌]]></Name>
    <Match><![CDATA[\w*Googlebot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Microstft">
    <Name><![CDATA[微软]]></Name>
    <Match><![CDATA[\w*msnbot\w*]]></Match>
    <UserAgent><![CDATA[msnbot-media/1.1 (+http://search.msn.com/msnbot.htm)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Bing">
    <Name><![CDATA[必应]]></Name>
    <Match><![CDATA[\w*bingbot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Yahoo">
    <Name><![CDATA[雅虎]]></Name>
    <Match><![CDATA[\w*Yahoo! Slurp\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="ArchitextSpider">
    <Name><![CDATA[ArchitextSpider]]></Name>
    <Match><![CDATA[\w*ArchitextSpider\w*]]></Match>
    <UserAgent><![CDATA[ArchitextSpider]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Lycos">
    <Name><![CDATA[Lycos]]></Name>
    <Match><![CDATA[\w*Lycos\w*]]></Match>
    <UserAgent><![CDATA[Lycos_Spider]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="IBM">
    <Name><![CDATA[IBM]]></Name>
    <Match><![CDATA[\w*ibm\w*]]></Match>
    <UserAgent><![CDATA[IBM_Planetwide]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="AOL">
    <Name><![CDATA[AOL]]></Name>
    <Match><![CDATA[\w*aolbuild\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; MSIE 9.0; AOL 9.7; AOLBuild 4343.19; Windows NT 6.1; WOW64; Trident/5.0; FunWebProducts)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Soso">
    <Name><![CDATA[搜搜]]></Name>
    <Match><![CDATA[\w*Sosospider\w*]]></Match>
    <UserAgent><![CDATA[Sosospider+(+http://help.soso.com/webspider.htm)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="SosoImage">
    <Name><![CDATA[搜搜图片]]></Name>
    <Match><![CDATA[\w*Sosoimagespider\w*]]></Match>
    <UserAgent><![CDATA[Sosoimagespider+(+http://help.soso.com/soso-image-spider.htm)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Yahoo China">
    <Name><![CDATA[雅虎中国]]></Name>
    <Match><![CDATA[\w*Yahoo! Slurp China\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; Yahoo! Slurp China; http://misc.yahoo.com.cn/help.html)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Sogou">
    <Name><![CDATA[搜狗]]></Name>
    <Match><![CDATA[\w*Sogou web spider\w*]]></Match>
    <UserAgent><![CDATA[Sogou web spider/4.0(+http://www.sogou.com/docs/help/webmasters.htm#07)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Baidu">
    <Name><![CDATA[百度]]></Name>
    <Match><![CDATA[\w*Baiduspider\w*]]></Match>
    <UserAgent><![CDATA[Baiduspider-image+(+http://www.baidu.com/search/spider.htm)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="360">
    <Name><![CDATA[360]]></Name>
    <Match><![CDATA[\w*360Spider\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0); 360Spider]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="Ask Jeeves">
    <Name><![CDATA[Ask Jeeves]]></Name>
    <Match><![CDATA[\w*Ask Jeeves\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/2.0 (compatible; Ask Jeeves/Teoma)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="YandexBot">
    <Name><![CDATA[Yandex]]></Name>
    <Match><![CDATA[\w*YandexBot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="AhrefsBot">
    <Name><![CDATA[Ahrefs]]></Name>
    <Match><![CDATA[\w*AhrefsBot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; AhrefsBot/5.1; +http://ahrefs.com/robot/)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="BLEXBot">
    <Name><![CDATA[BLEX]]></Name>
    <Match><![CDATA[\w*BLEXBot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; BLEXBot/1.0; +http://webmeup-crawler.com/)]]></UserAgent>
  </SearchEngine>
  <!--<SearchEngine name="Exabot">
    <Name><![CDATA[Exa]]></Name>
    <Match><![CDATA[\w*Exabot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; Exabot/3.0; +http://www.exabot.com/go/robot)]]></UserAgent>
  </SearchEngine>-->
  <SearchEngine name="MJ12bot">
    <Name><![CDATA[MJ12]]></Name>
    <Match><![CDATA[\w*MJ12bot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; MJ12bot/v1.4.5; http://www.majestic12.co.uk/bot.php?+)]]></UserAgent>
  </SearchEngine>
  <!--<SearchEngine name="SemrushBot">
    <Name><![CDATA[Semrush]]></Name>
    <Match><![CDATA[\w*SemrushBot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; SemrushBot/1.1~bl; +http://www.semrush.com/bot.html)]]></UserAgent>
  </SearchEngine>-->
  <SearchEngine name="Wotbox">
    <Name><![CDATA[Wotbox]]></Name>
    <Match><![CDATA[\w*Wotbox\w*]]></Match>
    <UserAgent><![CDATA[Wotbox/2.01 (+http://www.wotbox.com/bot/)]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="spbot">
    <Name><![CDATA[spbot]]></Name>
    <Match><![CDATA[\w*spbot\w*]]></Match>
    <UserAgent><![CDATA[Mozilla/5.0 (compatible; spbot/5.0.2; +http://OpenLinkProfiler.org/bot )]]></UserAgent>
  </SearchEngine>
  <SearchEngine name="其它">
    <Name><![CDATA[其它]]></Name>
    <Match><![CDATA[(\w*bot\w*|\w*crawler\w*)]]></Match>
    <UserAgent><![CDATA[]]></UserAgent>
  </SearchEngine>
</SearchEngineList>