.articleList {
}

    .articleList .category .item {
        border-bottom: 1px solid #ebebeb;
        padding-top: 8px;
        padding-bottom:8px;
    }

    .articleList .articles .item {
        border-bottom: 1px dotted #ebebeb;
        padding-top: 8px;
        padding-bottom:8px;
    }

        .articleList .articles .item  .left {
            float: left;
        }

        .articleList .articles .item  .right {
            float: right;
        }

        .articleList .articles .item  em {
            font-style:normal;
            color: #b9b9b9;
            font-weight:normal;
        }

dd {
    color: #a8a8a8;
    font-size: 13px;
}
.articleDetail{

}
.articleDetail .title{
    font-weight:bold;
    text-align:center;
}
.articleDetail .detail{

}
.articleDetail .publishDate{
    text-align:center;
    color:#b9b9b9;
}