@{
    Layout = "~/Modules/Page/Views/Shared/_Layout.cshtml";
    Easy.CMS.Layout.LayoutEntity layOut = ViewData[Easy.CMS.Layout.LayoutEntity.LayoutKey] as Easy.CMS.Layout.LayoutEntity;
}
@*<div class="row">
    <div class="col-md-12">@Html.Raw(layOut.Page.Content)</div>
</div>*@
