<div class="panel panel-default">
    <div class="panel-heading">
        <div>编辑组件</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <input type="button" class="btn btn-default btn-sm" value="取消" onclick="javascript:window.history.back()" />
                <input id="design" type="submit" class="btn btn-primary btn-sm" value="保存" />
            </div>
        }
    </div>
</div>

