<div class="panel panel-default">
    <div class="panel-heading">
        <div>编辑组件</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <div class="toolBar">
                <input type="button" class="btn btn-default btn-sm calcel" value="取消" />
                <input id="design" type="submit" class="btn btn-primary btn-sm" value="保存" data-value="@ActionType.Update" />
            </div>
        }
    </div>
</div>

