.layoutList {
    margin: 0;
    padding: 0;
}

    .layoutList > li {
        float: left;
        width: 200px;
        list-style: none;
    }

.toolBar {
    padding: 9px 14px;
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    clear: both;
    margin:15px -15px -15px -15px;
}
.designTool{
    margin-top:10px !important;
}

.white {
    color: white;
}
.input-group {
    margin:2px 0;
}
.ui-draggable-dragging {
    z-index: 10000;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

.navbar-fixed-top {
    z-index: 1;
}

.iconLeft {
    padding-right: 4px;
}

.AddRow,
.AddCol,
.AddZone {
    cursor: move;
}

.design {
}

    .design .row {
        min-height: 100px;
        border: 1px dashed #46b8da;
        background-color: white;
        margin: 4px -11px;
        cursor: move;
    }

    .design .zone {
        min-height: 80px;
        border: 1px dashed red;
        margin: 4px;
        background-color: white;
        cursor: move;
    }

        .design .zone input {
            border: none;
        }

    .design #container {
        min-height: 500px;
        border: 1px dashed #CCC;
        margin-top: 100px;
    }

    .design .colContent {
        border: 1px dotted #eea236;
        min-height: 90px;
        margin: 4px auto;
        background-color: white;
        cursor: move;
    }



.dropInfo {
    background-color: #92daef !important;
}

.dropWarning {
    background-color: #46b8da !important;
}


.dropDanger {
    background-color: #d9534f !important;
}

.zoneToolbar {
    cursor: move;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

    .zoneToolbar a {
        color: black;
    }

        .zoneToolbar a:hover {
            color: #727272;
        }

    .zoneToolbar .glyphicon {
        font-size: 12px;
    }
