.navbar-collapse {
    position: fixed;
    left: 0;
    top: 20px;
    width: 200px;
    height: 100%;
}

.beforNav {
    height: 33px;
    margin-left: -15px;
    margin-right: -15px;
}

.userInfo {
    background-color: #3D3E43;
    height: 80px;
    margin-left: -15px;
    margin-right: -15px;
}
.userInfo>img{
    height:60px;
    margin:10px 0 0 10px;
}
.userInfo>strong{
    color:#E28271;
    margin-left:10px;
}

.main-container {
    margin: 60px 0 0 200px;
}

.navbar-nav > li {
    float: none;
}
