html, body {
    height: 100%;
}

body {
    background-image: url(images/dotted.png);
}

#wrap {
    height: 100%;
}
a.badge:hover {
    background-color: #1F1F1F;
}
.navbar-collapse {
    position: fixed;
    left: 0;
    top: 20px;
    width: 200px;
    height: 100%;
}

.beforNav {
    height: 33px;
    margin-left: -15px;
    margin-right: -15px;
}

.userInfo {
    background-color: #3D3E43;
    height: 80px;
    margin-left: -15px;
    margin-right: -15px;
}

    .userInfo > img {
        height: 60px;
        margin: 10px 0 0 10px;
    }

    .userInfo > strong {
        color: #E28271;
        margin-left: 10px;
    }

.main-container {
    margin: 60px 0 0 180px;
    overflow: auto;
}

.navbar-nav {
    float: none;
    margin-left: -15px;
    margin-right: -15px;
}

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav .glyphicon {
        margin-right: 5px;
    }

.navbar-inverse .navbar-nav > li > a {
    color: white;
    border-left: 2px solid #3D3E43;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a.active {
        color: white;
        background-color: #5D5E66;
    }

.navbar-inverse .navbar-nav > li.accordion-group > a:hover, .navbar-inverse .navbar-nav > li.accordion-group > a.active {
    color: white;
    background-color: #5D5E66;
}

.navbar-inverse .navbar-nav > li.accordion-group > a.active {
    background-color: #5d6664;
}

.accordion-inner {
    background-color: #3D3E43;
    border: none;
    padding: 9px 0 9px 0;
    display: none;
}

    .accordion-inner a {
        border-left: 2px solid #3D3E43;
        display: block;
        padding: 2px 0 2px 15px;
        text-decoration: none;
        color: white;
    }

        .accordion-inner a:hover, .accordion-inner a.active {
            border-left: 2px solid #F5C294;
            color: #F5C294;
        }

.accordion-group .group {
    float: right;
}

    .accordion-group .group:after {
        content: "\e080";
    }

.accordion-group .active .group:after {
    content: "\e114";
}

.b_F79999:hover, .b_F79999.active {
    border-left: 2px solid #F79999 !important;
}

.b_C3F7A7:hover, .b_C3F7A7.active {
    border-left: 2px solid #C3F7A7 !important;
}

.b_9FDDF6:hover, .b_9FDDF6.active {
    border-left: 2px solid #9FDDF6 !important;
}

.b_F6F1A2:hover, .b_F6F1A2.active {
    border-left: 2px solid #F6F1A2 !important;
}

.b_C1F8A9:hover, .b_C1F8A9.active {
    border-left: 2px solid #C1F8A9 !important;
}

.b_9FDDF6:hover, .b_9FDDF6.active {
    border-left: 2px solid #9FDDF6 !important;
}

.b_F5C294:hover, .b_F5C294.active {
    border-left: 2px solid #F5C294 !important;
}

.toolBar {
    padding: 6px 15px;
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    clear: both;
    margin: 15px -15px -15px -15px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .main-container {
        margin: 60px 0 0 200px;
    }
}

.input-group-addon.required {
    color: red;
}

.field-validation-error {
    display: block;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    padding: 3px;
    color: red;
}

.input-group .mce-panel {
    border: 1px solid #ccc;
    border-radius: 0;
}

.input-group-addon .glyphicon {
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
}

    .input-group-addon .glyphicon:hover {
        color: #E28271;
    }

.popUpToolBar {
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

.panel-heading {
    padding: 6px 15px;
}

.fullRowList {
    margin: 0;
    padding: 1px 0;
    list-style: none;
    color: #717171;
    min-height: 40px;
}

    .fullRowList li {
        padding: 3px;
        border: 1px solid #ddd;
        border-left: 3px solid green;
        margin: 5px 0;
        cursor: pointer;
        background-color: white;
    }

        .fullRowList li.sorting {
            height: 30px;
            border: 1px solid #ededed;
            border-left: 3px solid #E28271;
        }

    .fullRowList.widgets li {
        cursor: move;
    }

    .fullRowList li.actived {
        border: 1px solid #E28271;
        border-left: 3px solid green;
        color: #E28271;
    }

    .fullRowList.droping {
        background-color: #9FDDF6;
    }

    .fullRowList.widgets .glyphicon {
        font-size: 12px;
    }

.input-group-collection {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .input-group-collection .row {
        padding: 2px 0;
    }

        .input-group-collection .row:last-child {
        }

    .input-group-collection .input-group {
    }

.input-group {
    margin: 3px 0;
}
.jstree a[ispublish="false"]{
    color:gray;
}
.jstree a[ishomepage="true"]{
    font-weight:bold;
    color:red;
}
.form-control.input-validation-error {
    border-bottom: 1px solid #fff;
}
.form-control[type=checkbox]{
    width:34px;
    box-shadow:none;
    margin:0;
    padding:0;
    border-radius:0;
}
.ui-draggable-dragging {
    z-index: 1;
}
.simplePreview {
}
.simplePreview .simpleDesign .panel {
    margin:5px;
}
.simplePreview .simpleDesign .panel .panel-heading{
    padding:3px;
}
.simplePreview .panel-body {
    padding: 5px;
}
.simplePreview .panel-heading .btn {
    float: right;
}
.description {
    font-size: 13px;
}
.icon-left {
    padding-left: 40px;
}
.icon-left .icon {
    margin-left: -40px;
}
#section-groups {
    padding: 10px 10px 0 10px;
}
#section-groups .panel {
    margin-bottom: 10px;
}
#section-groups .edit-pragraph {
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}