.thumbnail {
    height: 188px;
}
.thumbnail a.confirm,.thumbnail a.album {
    display: block;
    height: 140px;
}
    .thumbnail img {
        max-height: 140px;
        vertical-align: middle;
    }
.thumbnail .name{
max-width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.modal.in {
    display: block;
}

#selectFile {
    display: none;
}
