@model Easy.CMS.Common.Models.CarouselEntity


<div class="panel panel-default">
    <div class="panel-heading">
        新建
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
                <input type="submit" class="btn btn-primary btn-sm" value="保存" data-value="@ActionType.Create" />
            </div>
        }
    </div>
</div>
<table>
    <tr>
        <td align="center"></td>
    </tr>
</table>