@using Easy.CMS.WidgetTemplate
@model WidgetTemplateViewModel
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>选择组件</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("RedirectToWidget", "WidgetTemplate", new { module = "Common", Model.PageID, Model.LayoutID, Model.ZoneID, Model.ReturnUrl }))
        {
            foreach (var item in this.Model.WidgetTemplates.GroupBy(m => m.GroupName))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>@item.Key</div>
                    </div>
                    <div class="panel-body">
                        @foreach (WidgetTemplateEntity template in item.OrderBy(m=>m.Order))
                        {
                            <div class="col-md-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="WidgetTemplateID" value="@template.ID"/>
                                        @template.Title
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>


            }
            <div class="toolBar">
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
                <input id="design" type="submit" class="btn btn-success btn-sm" value="下一步" />
            </div>
        }
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("input[type=radio]:first").attr("checked", "checked");
    </script>
}