@using Easy.CMS.WidgetTemplate
@model WidgetTemplateViewModel
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>选择组件</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PageID)

            <div class="container-fluid">
                <div class="row-fluid">
                    @foreach (WidgetTemplateEntity item in this.Model.WidgetTemplates)
                    {
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="WidgetTemplateID" value="@item.ID">
                                    @item.Title
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="toolBar">
                <input type="button" class="btn btn-default btn-sm" value="取消" onclick="javascript:window.history.back()" />
                <input id="design" type="submit" class="btn btn-success btn-sm" value="下一步" />
            </div>
        }
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("input[type=radio]:first").attr("checked", "checked");
    </script>
}