@model Easy.CMS.Layout.LayoutEntity
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>布局</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <input type="submit" class="btn btn-danger btn-sm" value="保存" />
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
            </div>
        }
        
    </div>
</div>
