@model Easy.CMS.Layout.LayoutEntity
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>布局</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <button name="actionType" type="submit" class="btn btn-danger btn-sm delete" value="@((int)ActionType.Delete)">删除</button>
                <button name="actionType" type="submit" class="btn btn-success btn-sm" value="@((int)ActionType.Design)">设计</button>
                <button name="actionType" type="submit" class="btn btn-primary btn-sm" value="@((int)ActionType.Update)">保存</button>
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
            </div>
        }

    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(".delete").click(function () {
            return confirm("删除布局会删除对应的页面，确定要删除吗？");
        });
    </script>
}