@using Easy.CMS.Layout
@model List<LayoutEntity>
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            布局
            <a href="@Url.Action("Create", new { module = "Common" })">
                <i class="glyphicon glyphicon-plus"></i>
                添加布局
            </a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="layoutList">
            @foreach (LayoutEntity item in Model)
            {
                <li>
                    <a href="@Url.Action("Edit", "Layout", new { module = "Common", ID = item.ID })" class="thumbnail">
                        <img src="http://www.geekpics.net/images/2014/06/22/gpnRNV.jpg" alt="...">
                        <div class="caption">
                            <h5>@item.LayoutName</h5>
                            <p>@item.Description</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
