@using Easy.CMS.Layout
@model IEnumerable<LayoutEntity>
@{
    Script.Reqiured("jQueryUi").AtFoot();
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="badge">布局</span>
                </div>
                <div class="panel-body">
                    <ul id="layouts" class="fullRowList">
                        @foreach (LayoutEntity item in Model)
                    {
                            <li data-id="@item.ID">
                                <i class="glyphicon glyphicon-compressed"></i> @item.LayoutName
                            </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
        <div id="layoutZones" class="col-md-7">

        </div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("#layouts>li").click(function () {
            $(this).siblings().removeClass("actived");
            $(this).addClass("actived");
            $.post("@Url.Action("LayoutZones", "Layout", new { module="Common"})", { ID: $(this).data("id") }, function (html) {
                $("#layoutZones").html(html);
            }, "html");
        });
        
        $(".fullRowList.widgets .delete").live("click",function () {
            var id = $(this).data("widgetid");
            if (confirm("确定要删除该组件吗？")) {
                $.post("@Url.Action("DeleteWidget", "Widget",new { module="Common"})", { ID: id }, function (data) {
                    if (data) {
                        $("#widget_" + id).remove();
                    }
                }, "json");
            }
        });
    </script>
}