@using Easy.CMS.Message.Models
@model IEnumerable<MessageEntity>
<div class="message-box">
    @if (Model == null || Model.Count() == 0)
    {
        <em>还没有留言……</em>
    }
    else
    {
        <div class="bs-callout bs-callout-info">
            @{
                var last = Model.Last();
                foreach (var item in Model)
                {
                    <p>
                        <strong>
                            @item.PostMessage
                        </strong>
                    </p>
                    <div class="sumary text-muted">
                        @Html.Raw(item.Reply)
                    </div>
                    if (!item.Equals(last))
                    {
                        <hr />
                    }
                }
            }
        </div>
                }

</div>