@import "Library.less";

.article {
    margin: 10px;

    .media {
        .media-left {
            width: 155px;
            .img-thumbnail{
                width:100%;
            }
        }
    }
}
.articleDetail{
    padding: 10px;
}