@import "Library.less";


.article,.articleType {
    margin-top: 10px;

    .category {
        background-color: @bgColor;
        padding-bottom: 20px;

        .category-list {

            > ul {
                > li {
                    height: 35px;
                    position: relative;
                    vertical-align: middle;
                    margin-bottom: 1px;

                    .category-title {
                        padding: 10px 20px 10px 0;
                        border-bottom: 1px dotted @borderColor;

                        a {
                            background-position: right center;
                            background-repeat: no-repeat;
                            display: block;
                            padding: 0 20px;

                            &:hover, &.focus {
                                background-image: data-uri("../images/prd_sort_title.gif");
                                color: @mainColor;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .article-list {
        margin-top: 10px;

        > ul {
            > li {
                background: data-uri("../images/icon_point.png") 4px center no-repeat;
                margin: 5px 0;
                padding-left: 20px;
                position: relative;
                line-height:normal;
                .title {
                    font-weight: normal;
                }

                .time {
                    font-size: @fontSmall;
                    color: @descritpionColor;
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 17px;
                    font-weight: normal;
                }

                dd {
                    font-size: @fontSmall;
                }
            }
        }
    }

    &.summary {
        margin:15px;
        .detail {
            font-size: @fontSmall;
        }
    }
    &.tops{
        margin:15px;
    }
}

.articleDetail {
    .articleDetail .title {
        font-weight: bold;
        text-align: center;
    }

    .articleDetail .publishDate {
        text-align: center;
        color: @descritpionColor;
    }

    .articleDetail .detail {
    }
}

