@import "Library.less";

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: @fontSize/1.8 @fontFamaily;
    color: @textColor;
    background: data-uri("../Images/bg.gif");
}

#container {
    background-color: white;
    border: 1px solid @borderColor;
}

input, textarea, select {
    margin: 0;
    padding: 0;
    font-size: @fontSize;
    outline: none;
}

html:root body, html:root input, html:root button, html:root textarea, html:root select {
    font-family: @fontFamaily;
}

form, ul, ol, li, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

dd {
    color: @descritpionColor;
}

a {
    text-decoration: none;
    color: @textColor;
    outline: none;

    &:hover {
        color: @mainColor;
        text-decoration: underline;
    }

    a img {
        border: none;
    }
}

i, em {
    font-style: normal;
}

b, strong {
    color: @mainColor;
}


.item-title {
    background: data-uri("../images/icon_square.png") 10px center no-repeat;
    border-top: 1px solid @mainColor;
    border-bottom: 1px solid @borderColor;
    padding: 0 5px 0 26px;
    margin: 0;
    position:relative;
    i {
        color: @descritpionColor;
        margin-left:3px;
        font-style: italic;
        font-size:@fontSmall;
    }
    .more{
        //background-image:data-uri("../images/more.png");
        //height:12px;
        //width:38px;
        display:block;
        position:absolute;
        right:0;
        //bottom:0;
        top:0;
        line-height:37px;
        font-size:@fontSmall;
    }
}
