@import "Library.less";

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: @fontSize/1.5 @fontFamaily;
    color: @textColor;
    background: data-uri("../Images/bg.gif");
}

#container {
    background-color: white;
    border: 1px solid @borderColor;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

@media only screen and (max-width:768px) {
    #container {
        border: none;
        box-shadow:none;
    }
}

.bs-callout {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        border-left-color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

.bs-callout-danger p {
    margin: 0;
}
.list-group{
    margin-bottom:0;
}
.page-header{
    margin: 10px 0 10px;
    >h2{
        margin:5px 0 5px;
    }
}
