@mainColor:#ad1422;
@mainColorLight:#bf1727;
@mainColorDeep:#96111e;
@textColor:#444;
@fontFamaily:Tahoma, Geneva, '\5fae\8f6f\96c5\9ed1', '\5B8B\4F53';

.transition(@style){
    -moz-transition: @style;
    -o-transition: @style;
    -webkit-transition: @style;
    transition: @style;
}