@import "Library.less";
@linkColor: #fff;

.top-nav {
    background: @mainColor;
    line-height: 46px;
    clear: both;
    z-index: 3;

    li {
        -ms-word-break: keep-all;
        word-break: keep-all;
        white-space:nowrap;
    }

    > ul > li {
        float: left;
        position: relative;
        margin-right: 10px;

        a {
            color: @linkColor;
            padding: 0 15px;
            font-size: @fontLarge;
            display: block;
            .transition(all 0.1s ease-in);

            &:hover, &.current {
                background: @mainColorDeep;
                color: @linkColor;
                text-decoration: none;
            }
        }

        .popup-nav-children {
            background-color: @mainColor;
        }

        > .popup-nav-children {
            display:none;
            position: absolute;
            z-index: 1;
        }
    }

  
}
