@import "Library.less";

.navigation{
    padding:10px;
    .navbar{        
        margin-bottom: 10px;
    }
}
@media(max-width:768px){
    .navigation{
    padding:0;
    .navbar{
        border-radius: 0;
        border-left:none;
        border-right:none;
    }
}
}