@import "Library.less";

.ProductList {
    > li {
        width: 25%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;

        img {
            width: 100%;
            background: url(../images/loader.gif) center center no-repeat;
        }

        .Content {
            margin: 5px;
            padding: 5px;
            border: 1px solid @borderColor;

            & > a {
                display: block;
            }

            &:hover {
                border: 1px solid @mainColorLight;
            }

            .Image {
                vertical-align: middle;
                display: table-cell;
            }

            .TitleBar {
                text-align: left;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: @descritpionColor;
            }
        }



        .PriceSpace {
            background-color: #fbf2cc;
            padding: 0 5px;

            .PriceNo {
                text-decoration: line-through;
                font-size:@fontSmall;
            }

            .Price {
                color: @mainColor;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }
}


@media (orientation : landscape) {
    .ProductList.mobile {
        > li {
            width: 33%;
        }
    }
}

@media (orientation : portrait) {
    .ProductList.mobile {
        > li {
            width: 50%;
        }
    }
}

.ProductCategoryBar {
    padding: 5px 10px;

    & > .categoryTag {
        padding: 5px 10px;
    }
}
