@import "Library.less";

.border .widget {
    border: 1px solid @color-border;
    border-radius: 3px;
    padding: 5px;
}

.header {
    color: @color-main;
}

.footer {
    text-align: center;
    border-top: 1px solid @color-border;
    background: @color-main;
    color: #FFF;

    p {
        margin: 0;
    }

    .html-widget {
        margin-bottom: 0;
        padding: 10px;
    }
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}