@model Easy.CMS.Page.PageEntity


<div class="panel panel-default">
    <div class="panel-heading">
        <div>页面</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <button name="actionType" type="submit" class="btn btn-danger btn-sm delete" value="@((int)ActionType.Delete)">删除</button>
                <button name="actionType" type="submit" class="btn btn-success btn-sm" value="@((int)ActionType.Design)">设计</button>
                <button name="actionType" type="submit" class="btn btn-warning btn-sm" value="@((int)ActionType.Update)">保存</button>
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
            </div>
        }
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(".delete").click(function () {
            return confirm("删除页面会删除对应的子页面，确定要删除吗？");
        });
        $(function () {
            var url = $("#Url");
            url.data("url", url.val().substring(0, "".lastIndexOf("/")));
        });
        $("#PageUrl").blur(function () {
            var url = $("#Url");
            var parentUrl = url.data("url");
            if (!parentUrl) {
                parentUrl = "/";
            }
            var thisUrl = $(this).val();
            var replaceValue = ["/", " ", "?", "`", "~", "!", "@@", "#", "$", "%", "^", "&", "*", "(", ")", "-", "+", "[", "]", "{", "}", "\\", "|", ";", ":", "'", "\"", ",", ".", "<", ">"];
            for (var i = 0; i < replaceValue.length; i++) {
                thisUrl = thisUrl.replaceAll(replaceValue[i], "_");
            }
            url.val(parentUrl + thisUrl);
        });
    </script>    
    
}