@using Easy.CMS.Page
@using Easy.HTML.jsTree
@{

}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>页面 @Html.ActionLink("添加页面","Create")</div>
    </div>
    <div class="panel-body">

        @(
 Html.Tree<PageEntity>().Source("GetPageTree", "Page", new { module = "Common" }).AddPlugin(Plugins.ContextMenu)
 .AddContextMenuItem(new ContextmenuItem { Label = "新建", Action = "Create" })
         .AddContextMenuItem(new ContextmenuItem { Label = "编辑", Action = "Edit" })
        )

    </div>
</div>
<script type="text/javascript">
    function Create(node) {
        var parent = node.reference.parent().attr("id");
        window.location.href = '@Url.Action("Create", "Page", new { module = "Common" })' + '?ParentID=' + parent;
    }
    function Edit(node) {
        var id = node.reference.parent().attr("id");
        window.location.href = '@Url.Action("Edit", "Page", new { module = "Common" })' + '?ID=' + id;
    }
</script>
