@{
    Layout = "~/Modules/Common/Views/Shared/_Layout.cshtml";
    Easy.CMS.Layout.LayoutEntity layOut = ViewData[Easy.CMS.Layout.LayoutEntity.LayoutKey] as Easy.CMS.Layout.LayoutEntity;
}
@{
    bool zoneStart = false;
    foreach (var item in layOut.Html)
    {
        if (item.Html == Easy.CMS.Zone.ZoneEntity.ZoneTag)
        {
            zoneStart = true;
            continue;
        }
        if (zoneStart)
        {
            if (layOut.ZoneWidgets.ContainsKey(item.Html))
            {
                foreach (var widget in layOut.ZoneWidgets[item.Html].OrderBy(m => m.Position))
                {
                    <div>
                        @{
                    Html.RenderPartial(widget.PartialView, widget.ViewModel);
                        }
                    </div>
                }
            }
            zoneStart = false;
            continue;
        }
        if (item.Html == Easy.CMS.Zone.ZoneEntity.ZoneEndTag)
        {
            zoneStart = false;
            continue;
        }
        @Html.Raw(item.Html)
    }
}
