@using System.Linq
@using Easy.CMS.Section.Models
@model SectionWidget
<div class="widget section">
    @if (Model.SectionTitle.IsNotNullAndWhiteSpace())
    {
        <h4>@Model.SectionTitle</h4>
    }
    @foreach (SectionGroup group in Model.Groups.OrderBy(m => m.Order))
    {
        <div class="section-group">
            @Html.Partial(group.PartialView, group)
        </div>
    }
</div>
