@using System.Text.RegularExpressions
@model Easy.CMS.Product.ViewModel.ProductCategoryWidgetViewModel

@{
    string currentUrl = Url.Content(Model.TargetPage);
    if (!currentUrl.Contains("pc="))
    {
        if (currentUrl.Contains("?"))
        {
            currentUrl += "&pc=0";
        }
        else
        {
            currentUrl += "?pc=0";
        }
    }
}
<div class="ProductCategory">
    <div class="list-group">
        @foreach (var item in Model.Categorys)
        {
            <a href="@Regex.Replace(currentUrl, @"pc=\d", "pc=" + item.ID)" class="list-group-item @(item.ID==Model.CurrentCategory?"active":"")">
                @item.Title
            </a>
        }
    </div>
</div>