.editor-main {
    padding-top: 10px;
    padding-bottom: 10px;
}
#output {
    margin-bottom: 0;
    border: none;
}
.panel-body > div > h3:first-child {
    margin-top: 0;
}

.panel-heading a {
    color: black;
    display: block;
    text-decoration: none;
}

.style-preview {
    width: 47%;
    position: fixed;
    left: 50%;
    height: 100%;
}

.input-group {
    margin-bottom: 10px;
}
    .input-group .form-control {
        position: static;
    }

    .input-group.loading::before {
        display: block;
        content: " ";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 0;
        background: red;
    }

    .input-group.loading.processing::before {
        width: 100%;
        transition: width 2s;
    }

.glyphicon-search {
    cursor: pointer;
}
.panel-heading {
    padding: 7px 15px;
}