.fullSlide{
	position: relative;
}
.fullSlide .bd{
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul{
	margin:0;
    padding:0;
	height: 360px;
}
.fullSlide .bd li{
	height: 100%;
	overflow: hidden;
	text-align: center;
    background-position:center center;
    background-size:cover;
}
.fullSlide .bd li a{
	display:block;
	height: 100%;
}
.fullSlide .hd{
	width: 100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:42px;
	height:11px;
	margin:1px;
	overflow:hidden;
	background:#fff;filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on{
	background: #0197ec;
}
.fullSlide .prev,.fullSlide .next{
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:40px;
	height:60px;
	background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;
	cursor:pointer;filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next{
	left:auto;
	right:15%;
	background-position:-6px -137px;
}
