zone {
    display: block;
}

.layoutList {
    margin: 0;
    padding: 0;
}

.radio label, .checkbox label {
    line-height: normal;
}

.layoutList > li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 5px;
}

input.helper:checked + span {
    color: #fff;
}

.designTool {
    margin-top: 10px !important;
}

.white {
    color: white;
}

.input-group {
    margin: 2px 0;
}

.ui-draggable-dragging {
    z-index: 10000;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

.navbar-fixed-top {
    z-index: 10;
}

.iconLeft {
    padding-right: 4px;
}

.AddRow,
.AddCol,
.AddZone {
    cursor: move;
}

    .AddCol > select {
        color: black;
    }

.design {
}

.navbar-inner {
    padding: 5px 0 5px;
}

    .navbar-inner .radio,
    .navbar-inner .checkbox {
        margin: 0;
    }

.design .additional.row {
    min-height: 144px;
    border: 1px solid #337ab7;
    background-color: white;
    margin: 10px -5px;
    cursor: move;
    list-style: none;
    padding: 10px;
}

    .design .colContent.row.muted,
    .design .additional.row.muted {
        border: 1px solid #ddd;
    }

.design-border .additional.row {
    margin-top: 1px;
}

.design-border .empty-zone {
    min-height: 90px;
}

.design-border .zone {
    border: 1px dotted #ec971f;
    background-color: white;
    margin: 1px;
    min-height: 135px;
}

.design .zone .form-control {
    border: none;
    width: 70%;
    margin: 4px auto;
    box-shadow: none;
    border: 1px solid #FFF;
    text-align: center;
    border-radius: 0;
    height: 95px;
    font-size: 16px;
    color: #337ab7;
    padding: 33px 5px;
}

    .design .zone .form-control:focus {
        border: 1px solid #faeae9;
        color: #000;
        background-color: #fff;
    }

.sorting {
    height: 120px;
    border: 1px solid #ddd;
    margin: 5px;
    background: #faeae9;
    list-style: none;
}

label.additional {
    display: block;
    margin-bottom: 0;
    max-width: none;
}

#container.design,
#container.pagePreview {
    margin-top: 80px;
}

#container.design,
#container.design-border {
    border: 1px dashed #CCC;
    min-height: 500px;
}

.design .colContent {
    min-height: 105px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
}


.design .colContent {
    cursor: move;
    border: 1px dashed #5cb85c;
    margin: 10px -5px;
}

.pagePreview {
    min-height: 500px;
}

    .pagePreview .zone {
        position: relative;
    }

.zoneName {
    display: none;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    font-size: 16px;
}

    .zoneName a.add-widget {
        text-decoration: none;
    }

.design-border .zoneName {
    display: block;
}

.dropInfo {
    background-color: #92daef !important;
}

.dropWarning {
    background-color: #46b8da !important;
}


.dropDanger {
    background-color: #d9534f !important;
}

.widget-design {
    position: relative;
}

.sort-handle {
    cursor: move;
}

.zoneToolbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    line-height: 25px;
    top: -28px;
    left: 0;
}

    .zoneToolbar:hover {
        z-index: 2;
    }

    .zoneToolbar .tools {
        padding: 0 10px;
    }

    .zoneToolbar.red {
        background-color: #c7302b;
        border: 1px solid #9a221f;
    }

    .zoneToolbar.blue {
        background-color: #428bca;
        border: 1px solid #25547d;
    }

    .zoneToolbar.lightBlue {
        background-color: #5bc0de;
        border: 1px solid #368da7;
    }

    .zoneToolbar.green {
        background-color: #5cb85c;
        border: 1px solid #3a863a;
    }

    .zoneToolbar.orange {
        background-color: #f0ad4e;
        border: 1px solid #db942f;
    }

.hideToolBar .zoneToolbar {
    display: none;
}


.zoneToolbar a {
    color: white;
}

    .zoneToolbar a:hover {
        color: red;
    }

.zoneToolbar .glyphicon {
    font-size: 12px;
}

.deleteBar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 28px;
    line-height: 55px;
    text-align: center;
    background-color: #46b8da;
    border: 1px solid #fff;
    z-index: 10;
    display: none;
}

#toolBar {
    border-radius: 0;
}

    #toolBar.dropWarning > .deleteBar {
        display: block;
    }

    #toolBar.dropWarning.dropDanger > .deleteBar {
        background-color: #d9534f;
        color: white;
    }

.AddCol.ui-draggable-dragging > select {
    display: none;
}

.row.active {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
    background-color: #357ebd;
}


#container.design .row.container {
    margin: 10px auto;
    padding: 10px;
}

.templates {
    position: fixed;
    background: #ddd;
    width: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
}

    .templates.active {
        width: 223px;
    }

    .templates ul {
        list-style: none;
        margin: 0;
        padding: 0 10px 0 10px;
        height: 100%;
        overflow: auto;
    }

        .templates ul::-webkit-scrollbar {
            width: 7px;
        }

        .templates ul::-webkit-scrollbar-corner,
        .templates ul::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(100,100,100,0.4);
        }

        .templates ul::-webkit-scrollbar-thumb {
            border-radius: 1em;
            background-color: rgba(50,50,50,0.3);
        }

        .templates ul::-webkit-scrollbar-thumb {
            background: rgba(100,100,100,0.8);
        }

        .templates ul::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .templates ul li {
            cursor: pointer;
            margin: 10px 3px;
        }

    .templates .tool-open {
        position: absolute;
        left: -22px;
        cursor: pointer;
        background: #ddd;
        top: 100px;
        padding: 8px 4px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .templates img.template {
        width: 190px;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    }

        .templates img.template:hover {
            outline: rgba(0, 0, 0, 0.5) 1px solid;
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
        }

    .templates .delete-template {
        position: absolute;
        top: -8px;
        left: -8px;
    }


li.ui-sortable-helper {
    width: 200px;
}

    li.ui-sortable-helper.widget-design .row,
    .layout.templates .widget-design .row {
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    }

        li.ui-sortable-helper.widget-design .row .border-helper,
        .layout.templates .widget-design .row .border-helper {
            margin: 5px -10px;
            min-height: 80px;
            border: 1px solid #ddd;
        }

.layout .ui-draggable-handle.ui-draggable-dragging {
    width: 200px;
    border: 1px solid #ddd;
}

.template-list input[type="radio"] {
    display: none;
}

    .template-list input[type="radio"] + label {
        font-weight: normal;
        cursor: pointer;
        text-align: center;
    }

        .template-list input[type="radio"] + label span {
            margin: 4px 0 0;
            display: block;
        }

    .template-list input[type="radio"]:checked + label {
        background: #357ebd;
        color: #fff;
    }

.ui-sortable-helper {
    list-style: none;
}

.widget.ui-sortable-helper {
    background: #fff;
}
