zone {
    display: block;
}
.layoutList {
    margin: 0;
    padding: 0;
}

.radio label, .checkbox label {
    line-height: normal;
}

.layoutList > li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 5px;
}


.designTool {
    margin-top: 10px !important;
}

.white {
    color: white;
}

.input-group {
    margin: 2px 0;
}

.ui-draggable-dragging {
    z-index: 10000;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

.navbar-fixed-top {
    z-index: 2;
}

.iconLeft {
    padding-right: 4px;
}

.AddRow,
.AddCol,
.AddZone {
    cursor: move;
}
.AddCol >select{
    color:black;
}
.design {
}

.navbar-inner {
    padding: 5px 0 5px;
}

    .navbar-inner .radio,
    .navbar-inner .checkbox {
        margin: 0;
    }

.design .additional.row {
    min-height: 100px;
    border: 1px solid #46b8da;
    background-color: white;
    margin: 3px -13px;
    cursor: move;
}

.border .additional.row {
    margin-top: 1px;
}

.border .zoneMineHeight {
    min-height: 90px;
}

.design .zone,
.border .zone {
    border: 1px dotted red;
    background-color: white;
    margin: 6px;
}

.border .zone {
    margin: 0;
}

.design .zone .form-control {
    width: 70%;
    margin: 0 auto;
    box-shadow: none;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
    text-align: center;
    border-radius: 0;
}

    .design .zone .form-control:focus {
        border-left: 1px dashed #f5ebeb;
        border-right: 1px dashed #f5ebeb;
        color: red;
        background-color: #f5ebeb;
    }

.design .zone input {
    border: none;
}

.design #container,
#container.border {
    border: 1px dashed #CCC;
    min-height: 500px;
}

.design .colContent {
    min-height: 90px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
}


.design .colContent {
    cursor: move;
    border: 1px dashed orange;
    margin: 2px -13px;
}

.pagePreview {
    margin-top: 70px;
    min-height: 500px;
}

.design #container {
    margin-top: 55px;
}

@media(min-width:991px) {
    .pagePreview {
        margin-top: 70px;
    }

    .design #container {
        margin-top: 55px;
    }
}

.pagePreview .zone {
    position: relative;
}

.zoneName {
    display: none;
    position: absolute;
    left: 2px;
    top: 11px;
    z-index: 2;
    padding: 0 4px;
    background-color: #e5e1ea;
    border: 1px solid #c7bfd3;
    color: #000;
    font-size: 13px;
}

    .zoneName a {
        color: red;
    }

        .zoneName a:hover {
            color: #be0000;
            text-decoration: none;
        }

.border .zoneName {
    display: block;
}

.dropInfo {
    background-color: #92daef !important;
}

.dropWarning {
    background-color: #46b8da !important;
}


.dropDanger {
    background-color: #d9534f !important;
}

.widget {
    position: relative;
}

.zoneToolbar {
    cursor: move;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    top: -23px;
}

    .zoneToolbar.red {
        background-color: #c7302b;
        border: 1px solid #9a221f;
    }

    .zoneToolbar.blue {
        background-color: #428bca;
        border: 1px solid #25547d;
    }

    .zoneToolbar.lightBlue {
        background-color: #5bc0de;
        border: 1px solid #368da7;
    }

    .zoneToolbar.green {
        background-color: #5cb85c;
        border: 1px solid #3a863a;
    }

    .zoneToolbar.orange {
        background-color: #f0ad4e;
        border: 1px solid #db942f;
    }

.hideToolBar .zoneToolbar {
    display: none;
}


.zoneToolbar a {
    color: white;
}

    .zoneToolbar a:hover {
        color: #727272;
    }

.zoneToolbar .glyphicon {
    font-size: 12px;
}

.zoneToolbar .rightTool {
    float: right;
}

#toolBar {
    position: relative;
}

    #toolBar .left {
        float: left;
    }

        #toolBar .left > label {
            font-weight: normal;
        }

    #toolBar .right {
        float: right;
    }

.deleteBar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    background-color: #46b8da;
    z-index: 10;
    display: none;
}

#toolBar.dropWarning > .deleteBar {
    display: block;
}

#toolBar.dropWarning.dropDanger > .deleteBar {
    background-color: #d9534f;
    color: white;
}
.AddCol.ui-draggable-dragging>select{
    display:none;
}