zone {
    display: block;
}

.layoutList {
    margin: 0;
    padding: 0;
}

.radio label, .checkbox label {
    line-height: normal;
}

.layoutList > li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 5px;
}

input.helper:checked + span {
    color: #fff;
}

.designTool {
    margin-top: 10px !important;
}

.white {
    color: white;
}

.input-group {
    margin: 2px 0;
}

.ui-draggable-dragging {
    z-index: 10000;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

.navbar-fixed-top {
    z-index: 10;
}

.iconLeft {
    padding-right: 4px;
}

.AddRow,
.AddCol,
.AddZone {
    cursor: move;
}

    .AddCol > select {
        color: black;
    }

.design {
}

.navbar-inner {
    padding: 5px 0 5px;
}

    .navbar-inner .radio,
    .navbar-inner .checkbox {
        margin: 0;
    }

.design .additional.row {
    min-height: 100px;
    border: 1px solid #337ab7;
    background-color: white;
    margin: 3px -13px;
    cursor: move;
}

.design-border .additional.row {
    margin-top: 1px;
}

.design-border .empty-zone {
    min-height: 90px;
}

.design .zone,
.design-border .zone {
    border: 1px dotted #ec971f;
    background-color: white;
    margin: 6px;
    min-height: 80px;
}

.design-border .zone {
    margin: 0;
}

.design .zone .form-control {
    border: none;
    width: 70%;
    margin: 4px auto;
    box-shadow: none;
    border: 1px solid #FFF;
    text-align: center;
    border-radius: 0;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FFA500;
    padding: 33px 5px;
}

    .design .zone .form-control:focus {
        border: 1px solid #faeae9;
        color: #000;
        background-color: #fff;
    }


#container.design,
#container.pagePreview {
    margin-top: 70px;
}

#container.design,
#container.design-border {
    border: 1px dashed #CCC;
    min-height: 500px;
}

.design .colContent {
    min-height: 94px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
}


.design .colContent {
    cursor: move;
    border: 1px dashed #5cb85c;
    margin: 2px -13px;
}

.pagePreview {
    min-height: 500px;
}

    .pagePreview .zone {
        position: relative;
    }

.zoneName {
    display: none;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    font-size: 16px;
}

    .zoneName a.add-widget {
        text-decoration: none;
    }

.design-border .zoneName {
    display: block;
}

.dropInfo {
    background-color: #92daef !important;
}

.dropWarning {
    background-color: #46b8da !important;
}


.dropDanger {
    background-color: #d9534f !important;
}

.widget-design {
    position: relative;
}

.sort-handle {
    cursor: move;
}

.zoneToolbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    line-height: 25px;
    top: -28px;
}

    .zoneToolbar:hover {
        z-index: 2;
    }

    .zoneToolbar .tools {
        padding: 0 10px;
    }

    .zoneToolbar.red {
        background-color: #c7302b;
        border: 1px solid #9a221f;
    }

    .zoneToolbar.blue {
        background-color: #428bca;
        border: 1px solid #25547d;
    }

    .zoneToolbar.lightBlue {
        background-color: #5bc0de;
        border: 1px solid #368da7;
    }

    .zoneToolbar.green {
        background-color: #5cb85c;
        border: 1px solid #3a863a;
    }

    .zoneToolbar.orange {
        background-color: #f0ad4e;
        border: 1px solid #db942f;
    }

.hideToolBar .zoneToolbar {
    display: none;
}


.zoneToolbar a {
    color: white;
}

    .zoneToolbar a:hover {
        color: red;
    }

.zoneToolbar .glyphicon {
    font-size: 12px;
}

.deleteBar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 28px;
    line-height: 55px;
    text-align: center;
    background-color: #46b8da;
    border: 1px solid #fff;
    z-index: 10;
    display: none;
}

#toolBar {
    border-radius: 0;
}

    #toolBar.dropWarning > .deleteBar {
        display: block;
    }

    #toolBar.dropWarning.dropDanger > .deleteBar {
        background-color: #d9534f;
        color: white;
    }

.AddCol.ui-draggable-dragging > select {
    display: none;
}

.row.active {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
    background-color: #357ebd;
}

#container .row.container {
    margin: 0 auto;
    padding: 0;
}

#container.design .row.container {
    margin: 3px auto;
    padding: 0;
}

.templates {
    position: fixed;
    width: 225px;
    background: #acacac;
    border-left: solid 1px #777;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
}

    .templates ul {
        list-style: none;
        margin: 10px;
        padding: 0;
        height: 100%;
        overflow: auto;
    }

        .templates ul li {
            cursor: pointer;
            margin:10px 3px;
        }

    .templates img.template {
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    }

        .templates img.template:hover {
            outline: rgba(0, 0, 0, 0.5) 1px solid;
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
        }
