@using Easy.CMS.Layout
@model List<LayoutEntity>
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>布局</div>
    </div>
    <div class="panel-body">
        <ul class="layoutList">
            @foreach (LayoutEntity item in Model)
            {
                <li>
                    <a href="#" class="thumbnail">
                        <img src="http://www.geekpics.net/images/2014/06/22/gpnRNV.jpg" alt="...">
                        <div class="caption">
                            <h5>@item.LayoutName</h5>
                            <p>@item.Description</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
