@model Easy.CMS.Page.PageEntity


<div class="panel panel-default">
    <div class="panel-heading">
        <h5>页面</h5>
    </div>
    <div class="panel-body">
        @Html.EasyTags()
    </div>
</div>
