@model Easy.CMS.Page.PageEntity


<div class="panel panel-default">
    <div class="panel-heading">
        <div>页面</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EasyTags()
            <div class="toolBar">
                <input id="design" type="button" class="btn btn-success btn-sm" value="设计" />
                <input type="submit" class="btn btn-danger btn-sm" value="保存" />
                <input type="button" class="btn btn-default btn-sm" value="取消" />
            </div>
        }
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("#design").click(function () {
            window.location.href = "@(Url.Action("Design", "admin", new {module="page",ID=Model.ID }))"
        });
    </script>
}