@model Easy.CMS.Article.Models.ArticleEntity


<div class="panel panel-default">
    <div class="panel-heading">
        新建
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditModel()
            <div class="toolBar">
                <input type="submit" class="btn btn-primary btn-sm" value="保存" data-value="@ActionType.Update" />
                <input type="submit" class="btn btn-info btn-sm publish" value="发布" data-value="@ActionType.Publish" />
                <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
            </div>
        }
    </div>
</div>