@using Easy.CMS.Common.Models
@{
    Script.Reqiured("Navigation").AtFoot();
}
@model IEnumerable<NavigationEntity>
@functions{
    string GetChildren(NavigationEntity entity)
    {
        if (Model.Any(m => m.ParentId == entity.ID))
        {
            System.Text.StringBuilder builder = new System.Text.StringBuilder();
            builder.AppendFormat("<ul class='{0}' style='{1}'>", entity.ParentId == "0" ? "popup-nav" : "popup-nav-children", entity.ParentId == "0" ? "display:none" : "");
            foreach (NavigationEntity item in Model.Where(m => m.ParentId == entity.ID))
            {
                builder.Append("<li>");
                builder.AppendFormat("<a href=\"{0}\">{1}</a>", item.Url, item.Title);
                builder.Append(GetChildren(item));
                builder.Append("</li>");
            }
            builder.Append("</ul>");
            return builder.ToString();
        }
        return string.Empty;
    }
}
<div class="top-nav">
    <ul>
        @foreach (NavigationEntity item in Model.Where(m => m.ParentId == "0"))
        {
            <li>
                <a id="nav_@item.ID" href="@item.Url" class="@(Request.Path.Equals(item.Url)?"current":"")">@item.Title</a>
                @Html.Raw(GetChildren(item))
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(function () {
            $(".top-nav>ul>li").mouseenter(function () {
                $(this).children("ul").show(200);
            }).mouseleave(function () {
                $(this).children("ul").hide(200);
            });
        });
    </script>
}