@using Easy.Web.CMS
@model Easy.CMS.Common.Models.ImageWidget

<div class="widget">
    <img alt="@Model.AltText" src="@Url.PathContent(Model.ImageUrl)" style="width:@(Model.Width.HasValue?Model.Width.Value.ToString():"auto");height:@(Model.Height.HasValue ? Model.Height.Value.ToString() : "auto");" />
</div>
