@using System
@using System.Linq
@using Easy.CMS.Common.Models
@model CarouselEntity
@{
    if (Model.CarouselItems == null)
    {
        return;
    }
    Style.Reqiured("OWL.Carousel").AtHead();
    Script.Reqiured("OWL.Carousel").AtFoot();
    var carouselItems = Model.CarouselItems.ToList();
}

<div class="owl-carousel hidden-xs">
    @foreach (CarouselItemEntity item in carouselItems)
    {
        <div class="item" style="background-image: url('@item.ImageUrl');height:@(Model.Height??100)px">
            <div class="slider-inner">
                <div class="carousel-content">
                    <a href="@Url.Content(item.TargetLink.IsNullOrEmpty() ? "~/" : item.TargetLink)" target="_blank">
                        @item.Title
                    </a>
                </div>
            </div>
        </div>
    }

</div>